.hugeTitle{
    margin-top: 75px;
}
.centeredTitle {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 60px;
    letter-spacing: -0.9px;
    width: 100%;
}
.tagLineText{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
    letter-spacing: -0.9px;
    width: 100%;
}
.lineBreaks{
    margin-bottom: 30px;
    margin-top: 30px;
}
.plusSign{
    color: blue;
}