.hugeTitle{
    margin-top: 5px;
    padding: 0 !important;
}
.centeredTitle {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 17.5px;
    letter-spacing: -0.9px;
    width: 100%;
}
.centeredTitleAboutUs {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
    letter-spacing: -0.9px;
    width: 100%;
}
.tagLineText{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 13px;
    letter-spacing: -0.9px;
    width: 100%;
}
.tagLineTextAboutUs{
    position: absolute;
    top: 26%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 15px;
    letter-spacing: -0.9px;
    width: 100%;
}
.lineBreaks{
    margin-bottom: 30px;
    margin-top: 60px;
}
.plusSign{
    color: blue;
}



.packagesCards{
    margin-bottom: 30px;
}

.card-body{
     position: relative;
}

.card-body hr{
    padding-bottom: 10px
}

.card-price{
    position: absolute;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.detailsBody{
    position: relative;
    margin-top: 90px;
}

.details-price{
    position: relative;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.detailsDescription{
    margin-top: 80px;
}



.aboutUsImage img{
    filter: blur(2px);
    -webkit-filter: blur(2px);
}



img{
    max-width: 100%;
}


@media (min-width: 1200px) { 
    .centeredTitleAboutUs{
        font-size: 60px;
        top: 35%;
    }
    .tagLineTextAboutUs {
        font-size: 40px;
        top: 50%;
    }
}
 
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .centeredTitleAboutUs{
        font-size: 50px;
        top: 20%;
    }
    .tagLineTextAboutUs {
        font-size: 40px;
        top: 30%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) { 
    .centeredTitleAboutUs{
        font-size: 40px;
        top: 20%;
    }
    .tagLineTextAboutUs {
        font-size: 30px;
        top: 30%;
    }
}


@media (min-width: 1200px) { 
    .centeredTitle{
        font-size: 60px;
        top: 35%;
    }
    .tagLineText {
        font-size: 40px;
        top: 50%;
    }
}
 
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .centeredTitle{
        font-size: 50px;
        top: 22%;
    }
    .tagLineText {
        font-size: 40px;
        top: 30%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) { 
    .centeredTitle{
        font-size: 35px;
        top: 22%;
    }
    .tagLineText {
        font-size: 30px;
        top: 30%;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) { 
    .centeredTitle{
        font-size: 28px;
        top: 20%;
    }
    .tagLineText {
        font-size: 20px;
        top: 27.5%;
    }
}

@media (min-width: 360px) and (max-width: 575.98px) { 
    .centeredTitle{
        font-size: 17.5px;
        top: 20%;
    }
    .tagLineText {
        font-size: 13px;
        top: 25%;
    }
}

@media (max-width: 359.98px) { 
    .centeredTitle{
        font-size: 14px;
        top:20%;
        
    }
    .tagLineText {
        font-size: 12px;
        top: 25%;
    }
}

@media (max-width: 1199.98px){
    .lineBreaks{
        margin-top: 0;
    }
}

@media (min-width: 576px) and (max-width: 1025px){
    .card-deck {
        flex-flow: column;
    }
}

.carousel .slide .legend {
    background: none !important;
    opacity: 1 !important;
    top: 20%;
}

.CarouselContent{
    font-style: italic;
}
.carousel .slide img{
    filter: blur(1.5px);
    -webkit-filter: blur(1.5px);
}

.carousel .control-dots{
    padding-left: 0px;
}


.carousel .thumbs {
    padding-left: 0px;
    text-align:center;
}

.carousel .thumbs-wrapper {
    margin: 20px 0px 0px 5px !important;
    width: 100%;
}

.carousel .thumbs .thumb{
    display: inline-block;
    float: none;
}

@media (min-width: 576px) and (max-width: 799.98px){
    #legend {
        font-size: 30px ;
        top: 25%
    }
}

@media (min-width: 800px) and (max-width: 1025px){
    #legend {
        font-size: 35px ;
        top: 25%
    }
}

@media (min-width: 1026px) {
    #legend {
        font-size: 40px;
        top:30%;
    }
}
