.hugeTitle{
    margin-top: 5px;
    padding: 0 !important;
}
.centeredTitle {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 60px;
    letter-spacing: -0.9px;
    width: 100%;
}
.centeredTitleAboutUs {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 60px;
    letter-spacing: -0.9px;
    width: 100%;
}
.tagLineText{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
    letter-spacing: -0.9px;
    width: 100%;
}
.tagLineTextAboutUs{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
    letter-spacing: -0.9px;
    width: 100%;
}
.lineBreaks{
    margin-bottom: 30px;
    margin-top: 60px;
}
.plusSign{
    color: blue;
}



.packagesCards{
    margin-bottom: 30px;
}

.card-body{
     position: relative;
}

.card-body hr{
    padding-bottom: 10px
}

.card-price{
    position: absolute;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.detailsBody{
    position: relative
}

.details-price{
    position: absolute;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.detailsDescription{
    margin-top: 80px;
}

.carousel img{
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.carousel-caption{
    top: 50%;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.01); /* Black w/opacity/see-through */
    color: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 80%;
    padding: 20px;
    text-align: center;
}