/* 
    General Styles
*/
.loginForm{
    margin: auto;
}
.login{
    font-size: 15px;
    padding: 5px;
}
.thankYou{
    margin: auto;
}
.check-mark{
    font-size: 100px;
    margin: auto;
    color: green;
}