
@media (min-width: 1100px)  {
    .navbarCustom .centerHeader{
        left: 65%;
        position: relative;
    }
}

@media (min-width: 1100px) {
    .navbarCustom .rightHeader{
        left: 125%;
        position: relative;
    }
}

@media (min-width: 1000px) and (max-width:1099.98px)  {
    .navbarCustom .centerHeader{
        left: 25%;
        position: relative;
    }
}

@media (min-width: 1000px) and (max-width:1099.98px) {
    .navbarCustom .rightHeader{
        left: 35%;
        position: relative;
    }
}



.centerHeader{
    left: 0%;
    position: relative;
    margin: auto;
}

.rightHeader{
    left: 0%;
    position: relative;
    margin: auto;
}

.navbar-brand{
    color: white !important;
}
.nav-item {
    color: white !important;
}
.dropdown-item{
    color: rgb(0, 123, 255) !important
}

.dropdown:hover > .dropdown-menu {
    display: block;
}
.dropdown > .dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}