@media (min-width: 1500px)  {
    .navbarCustom .centerHeader{
        left: 65%;
        position: relative;
    }
}

@media (min-width: 1500px) {
    .navbarCustom .rightHeader{
        left: 130%;
        position: relative;
    }
}


@media (min-width: 1200px) and (max-width: 1499.98px) {
    .navbarCustom .centerHeader{
        left: 50%;
        position: relative;
    }
}

@media (min-width: 1200px) and (max-width: 1499.98px) {
    .navbarCustom .rightHeader{
        left: 100%;
        position: relative;
    }
}

@media (min-width: 992px) and (max-width:1199.98px)  {
    .navbarCustom .centerHeader{
        left: 25%;
        position: relative;
    }
}

@media (min-width: 992px) and (max-width:1199.98px) {
    .navbarCustom .rightHeader{
        left: 35%;
        position: relative;
    }
}



.centerHeader{
    left: 0%;
    position: relative;
    margin: auto;
}

.rightHeader{
    left: 0%;
    position: relative;
    margin: auto;
}

.navbar-brand{
    color: white !important;
}
.nav-item {
    color: white !important;
}
.dropdown-item{
    color: rgb(0, 123, 255) !important
}

.dropdown:hover > .dropdown-menu {
    display: block;
}
.dropdown > .dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}